/* Universal CSS */

html,
body {
	font-size: 14px;
	margin: 8px 0px;
	font-family: 'Rajdhani', sans-serif;
}

a {
	text-decoration: none;
	color: grey;
}

nav {
	display: grid;
	flex-direction: column;
}

span {
	padding: 0px 0px 10px 0px;
}

/* these two are for the borders*/
h6 {
	border-bottom: solid 1px lightgrey;
	margin: 30px 100px 0px 100px;
}

h5 {
	border-bottom: solid 1px lightgrey;
}

/* header */

header {
	display: block;
	text-align: center;
	text-decoration: none;
}

li {
    display: flex;
    flex-direction: column; 
    padding: 10px;
}

.left {
	padding: 20px 10px;
}

span {
	display:flex;
	text-align:center;
	flex-direction: column;
}

/* main */

.dev {
	max-width: 100%;
	height: 400px;
	left: 0px;
	right: 0px;
	background-size: cover;
}

.container-one {
	width: 100%;
  	height: 400px;
  	left: 0px;
  	right: 0px;
  	object-fit: cover;
}

/* main sub-section 2*/

.first-heading {
	text-align: center;
}

.three-images {
	display: flex;
	flex-direction: column;
	margin: 40px 20px 40px 20px;
	text-align: center;
}

.picone {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.pictwo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height: 313px;
  	object-fit: cover;
}

.picthree {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height:;
}

.btn {
	padding: 10px;
	border: black solid 2px;
	background-color: transparent;
}

/* main sub-section 3 */

.hidden {
	display: none;
}

.instagram {
	text-align: center;
}


.image-four {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
}

.image-five {
	display: none;
	width: 200px;
	height: 200px;
}

.image-six {
	display: none;
	width: 200px;
	height: 200px;
}

.image-seven {
	display: none;
	width: 200px;
	height: 200px;
}

.image-eight {
	display: none;
	width: 200px;
	height: 200px;
}
.image-nine {
	display: none;
	width: 200px;
	height: 200px;
}
/* footer */

footer {
	text-align: center;
}

.icons {
	margin: 5px 5px;
	padding: 5px 5px;
	width: 50px;
	height: 50px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
	
	#name {
		float: left;
		margin-left: 150px;
	}
	.navigation {
		display: inline;
	}

	.left {
		display: inline;
		float: left;
		padding: 20px 10px 20px 10px;
	}

	.right {
		display: flex;
		text-align: right;
		padding: 20px 40px 20px 10px;
	}

	.dev {
		max-width: 100%;
		height: 400px;
		left: 0px;
		right: 0px;
		background-size: cover;
	}

	.container-one {
		width: 100%;
	  	height: 400px;
	  	left: 0px;
	  	right: 0px;
	  	object-fit: cover;
	}
	/*section 1*/
	.three-images {
	display: flex;
	flex-direction: column;
	margin: 40px 20px 40px 20px;
	text-align: center;
}

.picone {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.pictwo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height: 313px;
  	object-fit: cover;
}

.picthree {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height:;
}

.btn {
	padding: 10px;
	border: black solid 2px;
	background-color: transparent;
}

	/* section 2 */

	.instagram {
		display: flex;
		justify-content: center;
	}


	.image-four {
		width: 631px;
		height: 631px;
		display: flex;	
		justify-content: center;
	}
	
	h5 {
		display: block;
		border-bottom: solid lightgrey 2px;
	}	
	footer {
		padding: 50px 0;
	}
	
}


@media screen and (min-width: 1100px) {
	/* header */
	#name {
		float: left;
		margin-left: 150px;
	}
	.navigation {
		display: inline;
	}

	.left {
		display: inline;
		float: left;
		padding: 20px 10px 20px 10px;
	}

	.right {
		display: flex;
		text-align: right;
		padding: 20px 40px 20px 10px;
	}
	
	/* main */

	.dev {
		max-width: 100%;
		height: 400px;
		left: 0px;
		right: 0px;
		background-size: cover;
	}

	.container-one {
		width: 100%;
	  	height: 400px;
	  	left: 0px;
	  	right: 0px;
	  	object-fit: cover;
	}

	/*section 1*/
	.three-images {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 1375px;
		height: 549px;
	}

	.image-one {
		display: inline;
		width: 433px;
		height: 549px;
		float: left;
	}

	.picone {
		height: 275px;
		width: 300px;
	}

	.image-two {
		display: inline;
		width: 433px;
		height: 450px;

	}

	.pictwo {
		height: 275px;
		width: 300px;
	}

	.image-three {
		display: inline;
		width: 433px;
		height: 549px;
	}

	.picthree {
		height: 275px;
		width: 300px;
	}

	.btn {
		padding: 10px;
		margin-right: 240px;
		border: black 2px solid;
		background-color: transparent;	
	}

	/* section 2 */

	.instagram {
		display: flex;
		justify-content: center;
	}


	.image-four {
		width: 631px;
		height: 631px;
		grid-column: 1 /span 2;
		grid-row: 1 /span 2;
	}
	.image-five {
		display: block;
		width: 289px;
		height: 289px;
	}

	.image-six {
		display: block;
		width: 289px;
		height: 289px;
	}

	.image-seven {
		display: block;
		width: 289px;
		height: 289px;
		align-self: end;
	}

	.image-eight {
		display: block;
		width: 289px;
		height: 289px;
		align-self: end;
	}

	.grid {
		display: grid;
	  	grid-template-columns: auto;
	  	grid-template-rows: auto;
	  	grid-template-areas: 
	    "image-four image-four image-five image-six"
	    "image-four image-four image-seven image-eight";
	}

	h5 {
		display: block;
		border-bottom: solid lightgrey 2px;
	}	
	footer {
		padding: 50px 0;
	}
}